.consulta {
    max-height: 100%;

    h1, h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--zinc-50);
        margin: 0 0 2rem 0;
    }

    .consulta__quadroSocietario {
        height: 100%;
        max-height: 77vh;
        width: 100%;

        overflow-y: scroll;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }
}